@model EntityLayer.Concrate.Portfolio
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card-header border-0">
    <h3 class="mb-0">Proje Güncelleme</h3>

@using (Html.BeginForm("EditPortfolio", "Portfolio", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.PortfolioID)
    @Html.Label("Proje Başlığı")
    @Html.TextAreaFor(x=>x.Name, new{@class ="form-control"})
    @Html.ValidationMessageFor(x=>x.Name)
    <br />
    <label>Görsel 1</label>
    @Html.TextAreaFor(x=>x.ImageUrl, new{@class ="form-control"})
    @Html.ValidationMessageFor(x=>x.ImageUrl)
    <br />
    <label>Görsel 2</label>
    @Html.TextAreaFor(x=>x.ImageUrl2, new{@class ="form-control"})
    @Html.ValidationMessageFor(x=>x.ImageUrl2)
    <br />
    <label>Proje Maliyeti</label>
    @Html.TextAreaFor(x=>x.Price, new{@class ="form-control"})
    @Html.ValidationMessageFor(x=>x.Price)
    <br />
    <label>Tamamlanma Oranı</label>
    @Html.TextAreaFor(x=>x.Value, new{@class ="form-control"})
    @Html.ValidationMessageFor(x=>x.Value)
    <br />
        <label>Platform</label>
    @Html.TextAreaFor(x=>x.Platform, new{@class ="form-control"})
    @Html.ValidationMessageFor(x=>x.Platform)
        <br />
    <button class="btn btn-success">Güncelle</button>
}
</div>